<footer id="footer">
  <div class="footer-left">
    Copyright &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print
    .Site.Copyright }} {{ else }} {{ print .Site.Title }} {{ end }}
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <div>
    <a
      href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=35018202000227"
    >
      <image style="height: 11px" src="/images/备案图标.png" />
      闽公网安备35018202000227号
    </a>

    <a href="https://beian.miit.gov.cn/#/Integrated/index"
      ><image style="height: 13px" src="/images/ICP备案.png" />
      闽ICP备2020020925号
    </a>
  </div>
</footer>
